# ignore this files (*.ext) and folders (name/)

.~lock.readme2.odt
*.suo
*.pyc
*.log
*.bak
*.sav
*.pyo
wsgi.psp
t/

QueryRelatedRecords/QueryRelatedRecords/QueryRelatedRecords.AddIns/Bin/
QueryRelatedRecords/QueryRelatedRecords/QueryRelatedRecords.AddIns/obj/
QueryRelatedRecords/QueryRelatedRecords/QueryRelatedRecords/Extensions/
QueryRelatedRecords/QueryRelatedRecords/QueryRelatedRecords/obj/

Ice/Ice/Ice.AddIns/Bin/
Ice/Ice/Ice.AddIns/obj/
Ice/Ice/Ice/obj/

maps.web.builder/mwb02/mwb02.AddIns/Bin/
maps.web.builder/mwb02/mwb02.AddIns/obj/
maps.web.builder/mwb02/mwb02.Layouts/obj/
maps.web.builder/mwb02/mwb02/Extensions/
maps.web.builder/mwb02/mwb02/obj/

maps.web.builder/FloatableWindow/Bin/
maps.web.builder/FloatableWindow/obj/

maps.web.builder/toolbar/Bin/
maps.web.builder/toolbar/obj/
