<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy task is
mapping wrapped urls
	set http://vdesk.algis.com/kvsproxy/Proxy.ashx?id=foo&text=bar
	get http://vdesk.algis.com/kvsproxy/Proxy.ashx?get=foo
to real urls (Zope)
	set http://localhost:8080/t/keyvalstor/manage_addProduct/VKeyValObj/addFunction?id=foo&text=bar
	get http://localhost:8080/t/keyvalstor/foo/getValue
or to (Redis + Webdis)
	set http://keyvalstor.algis.com:7379/SET/foo/bar
	get http://keyvalstor.algis.com:7379/GET/foo.txt
	чтобы записать значение «bar/rab.arb» вебдису надо скормить «bar%2Frab%2Earb»
-->
<ProxyConfig mustMatch="false">
	<serverItems>
		<serverItem url="http://keyvalstor.algis.com:7379"
			serverType="Webdis"
			matchAll="true"
			domain="" username="guest" password="1111"
		/>
<!--
		<serverItem url="http://localhost:8080/t/keyvalstor"
			serverType="Zope"
			matchAll="true"
			domain="vdesk" username="guest" password="1111"
		/>
-->
	</serverItems>
</ProxyConfig>
